@import './node_modules/bootstrap/scss/functions';

// Override theme colors
$primary: #df0075;
$light: #f2f2f2;

@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

//Place any Bootstrap Variables that you wish to change here
// $font-family-base: 'Cairo', sans-serif;

@import './node_modules/bootstrap/scss/bootstrap';

//Top Margin or Padding to add spacing for the fixed navbar
.content-top-margin {
	margin-top: 4.4rem;
}
.content-top-padding {
	padding-top: 4.4rem;
}

//Set height to 75% of viewport height
.vh-75 {
	height: 75vh;
}

//Navbar
nav.main-nav {
	@extend .navbar-light;

	background-color: #fff;
	box-shadow: 0 -10px 10px 10px #0000004f;

	transition-duration: 250ms;
	//Show a light logo on a dark background and a dark logo on a light background
	.logo-light {
		display: none;
	}
	.logo-dark {
		display: block;
	}

	@include media-breakpoint-up(lg) {
		&.home-nav {
			&.transparent {
				background-color: transparent;
				box-shadow: none;

				.logo-light {
					display: block;
				}
				.logo-dark {
					display: none;
				}

				.nav-link {
					color: #fff;
				}
				#loginButton {
					color: #fff;
					border-color: #fff;
					&:hover {
						background-color: #fff;
						color: #000;
					}
				}
			}
		}
	}
}

//Add a dark overlay to a div
.has-overlay {
	position: relative;

	.dark-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.overlay-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

//Ratios
.ratio-1-1 {
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.ratio-4-3 {
	width: 100%;
	padding-top: 75%;
	position: relative;
}

.ratio-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/** Home Page **/
#latest-listings {
	.listing-thumbnail {
		background-position: center;
		background-size: cover;
	}
}
#agents {
	.agent-icon {
		width: 150px;
		height: 150px;
		background-size: cover;

		@include media-breakpoint-up(md) {
			width: 200px;
			height: 200px;
		}

		@include media-breakpoint-up(lg) {
			width: 250px;
			height: 250px;
		}
	}
}

/** Single Listing Page **/
.carousel-thumbnail {
	cursor: pointer;
}

.badge.feature {
	padding: 0.5rem 1rem;
	border: 1px solid;
	color: $secondary;
	border-color: $secondary;
}

.wishlistButton {
	cursor: pointer;

	&.wishlisted {
		color: #e6a816;
	}
}

.footer-icon {
	width: 60px;
	height: 60px;
}

.edit-gallery-img{
	width: 150px !important;
	height: 100px !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.delete-button{
	font-size: 20px;
	line-height: 20px;
}

.sidebar{
	max-width: 180px;
	margin-top: -20px;
	padding-top: 20px;
}

.sidebar ul{
	width:180px;
}

.admin-nav {
	float: left;
	clear: left;
}

@media only screen and (max-width: 768px) {
	.sidebar{
		max-width: 100%;
		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
	}
}

.ql {
	border-bottom:1px solid lightgray;
}

.admin-icon {
	width:100px;
	height:100px;
}