<?php
//Defines the Root for imported files (this would cause theme.css to be loaded from 'localhost/vcassignment7/css/theme.css')
//Make the string empty if theme.css would be found at 'localhost/css/theme.css'
$site_root = '/vcassignment7';

//Database Config
define('DB_SERVER', 'localhost');
define('DB_USERNAME', 'root');
define('DB_PASSWORD', '');
define('DB_NAME', 'realestate');